os: linux
dist: xenial
language: erlang
before_install:
  - wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.6/z3-4.8.6-x64-ubuntu-16.04.zip
  - unzip z3-4.8.6-x64-ubuntu-16.04.zip
  - mv z3-4.8.6-x64-ubuntu-16.04 z3
  - export PATH=$PWD/z3/bin:$PATH
  - export PYTHONPATH=$PWD/z3/bin/python:$PYTHONPATH
  - export C_INCLUDE_PATH=$PWD/z3/include/:$C_INCLUDE_PATH
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/z3/bin
  - sudo pip install protobuf==3.11.0
  - sudo pip install parsimonious==0.8.1
script:
  - git submodule update
  - git submodule foreach make
  - export ERL_LIBS=$PWD/lib/proper:$ERL_LIBS
  - ./fetch_protoc.sh
  - autoconf
  - ./configure --with-protoc=$PWD/lib/protoc-3.11.0/bin/protoc
  - make depend
  - make all
otp_release:
  - 22.2
  - 22.0
  - 21.3
  - 21.0
  - 20.3
  - 20.0
  - 19.3

cache:
  directories:
  - .plt
